.myNav{
    position: static;
    width: 100%;
    background-color: red;
    height: 80px;
    line-height: 30px;
}

.myNav ul{
    list-style: circle;
    padding: 10px;
}

.myNav ul li{
    display: inline;
    padding: 4%;
}

.mynav {
    position: static;
    width: 100%;
    background-color: red;
    height: 90px;
    line-height: 30px;
}

.myp {
    color: antiquewhite;
    text-decoration: underline;
}