.myNav{
    position: static;
    width: 100%;
    background-color: red;
    height: 80px;
    line-height: 30px;
}

.myNav ul{
    list-style: circle;
    padding: 10px;
}

.myNav ul li{
    display: inline;
    padding: 4%;
}

.mynav {
    position: static;
    width: 100%;
    background-color: red;
    height: 80px;
    line-height: 15px;
}

.III label, input, button{
    display: block;
}

    label{
        color: antiquewhite;
        text-transform: uppercase;
        text-decoration: underline;
    }

    input{
        width: 90%;
        height: 30px;
        margin: 7px;
        padding-top: 6px;
    }

    .btn{
        width: 50%;
        margin: auto;
        background-color: blue;
        height: 40px;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 2px;

    }

    .btn:hover{
        color: red;
        background-color: black;
    } 

body{
    background-color: black;
}    
